:root {
	--primary-clr: #1a192b;
	--node-clr: #222138;
	--outline-clr: #333154;
	--outline-node-clr-hover: #7371b5;
	--outline-input-clr: rgba(255, 255, 255, 0.19);
	--handle-clr: #403f69;
	--handle-hover-or-active-clr: #6866ac;
	--white-text-clr: #fff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	color: #fff;
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
}

.app {
	width: 100vw;
	height: 100vh;
	color: #fff;
	display: flex;
	flex-direction: column;

}


/**  HEADER STYLING - START **/
.header-app-cont{
	width: 100%;
	display: flex;
	background-color: var(--primary-clr);
	display: flex;
	justify-content: space-between;
	border-bottom:1px solid var(--outline-clr);
	align-items: center;
	padding: 0 2vw;
	font-size: .9rem;
}

.header-app-cont__left-menu{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc(2 * 5px);
}

.header-btn{
	background: transparent;
	color: var(--white-text-clr);
	border: none;
	font-size: .75rem;
	cursor: pointer;
	
}
.header-app-cont__header-app-cont__img-logo{
	width: 3rem;
}

.header-app-cont__left-menu__buttons-left-cont, .header-app-cont__right-menu__buttons-anchor-right-cont{
	display: flex;
	gap: 5px;
}
.left-menu__buttons-left-cont__view-btn, .left-menu__buttons-left-cont__help-btn{
	font-weight: bold;
}


/**  HEADER STYLING - END **/

.output-cont{
	flex-grow: 1;
}

.react-flow__background {
	background-color: var(--primary-clr);
}

.react-flow__minimap {
	background-color: var(--primary-clr);
}

.react-flow__controls-button{
	background-color: var(--primary-clr);
	border-color: var(--outline-clr);
}

.react-flow__controls-button path{
	fill: #fff;

}

.reactflow-cont {
	width: 100%;
	height: 65%;
}

.overlay {
	display: none;
}

.output-cont {
	width: 100%;
	height: 30%;
	background-color: var(--primary-clr);
}

.output-cont .title__output-cont {
	margin: 0;
}

.block-btn {
	/* background: transparent; */
	border: solid;
	border-color: var(--outline-clr);
	border-width: 1px;
	border-radius: 50px;
	padding: 10px 20px;
	color: #fff;
	font-size: 0.9rem;
}

/* NODE STYLING - START */

.react-flow__node {
	/* background-color: #222138;
	border: 1px solid var(--outline-clr); */
	/* position: relative; */
}

.detail-node {
	background-color: #222138;
	border: 1px solid var(--outline-clr);
}

.cont-custom-node {
	position: relative;
}

.heading-node {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	border-bottom: 1px solid var(--outline-clr);
}

.heading-node .title__heading-node {
	margin: 10px 0;
}

.input-indicators-cont__example-data-node {
	padding: 10px 10px 20px;
}

.detail-indicators-cont__filter-data-node {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
}

.input-cont__detail-indicators-cont {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	gap: 5px;
}

.react-flow__node-output_node {
	padding: 10px;
	border-radius: 10px;
}

.input-inside-node {
	border: 1px solid var(--outline-input-clr);
	background: transparent;
	color: var(--white-text-clr);
	border: none;
	border-radius: 5px;
	padding: 10px;
	border-right: 7px solid transparent;
	outline: 1px solid var(--outline-clr);
}

/* .cont-indicators__detail-indicators-cont{
	border: 1px solid var(--outline-input-clr);
	background: transparent;
	color: var(--white-text-clr);
	border-radius: 5px;
	padding: 10px;
  } */

.select-inside-node {
	font-size: 0.7rem;
	display: block;
	min-width: 200px;
}

.label-for-input {
	font-size: 0.75rem;
	color:#9ca8b3;
	
}



/* NODE STYLING - HANDLE STYLING  - START */
.handle-right-custom-node, .handle-left-custom-node {
	border: none;
	border-radius: 0;
	position: absolute;
	background: var(--handle-clr);
}
.handle-right-custom-node {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	height: 100%;
	width: 25px;
	right: -25px;
}
.handle-left-custom-node {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 18px;
	height: 18px;
	left: -18px;
}
.handle-right-custom-node:hover, .handle-left-custom-node:hover {
	background: var(--handle-hover-or-active-clr);
}

/* NODE STYLING - HANDLE STYLING  - END */


/** 
	NODE STYLING - END 
	**/
